.register-content {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.register-form-group {
  margin-bottom: 1rem;
}
.form-submit {
  text-align: center;
}
.login-account {
  text-align: center;
  margin-top: 1rem;
}